<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    enables all the annotation in the project-->
    <context:annotation-config/>



<!--    set DriverManagerDataSource bean for passing this object in jdbc template as jdbc template needs
DataSource interface object this class implements Datasource object so this is passed as reference to jdbc template class-->
<!--    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="datasource"/>-->



<!--        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/emp" />-->
<!--        <property name="username" value="root"/>-->
<!--        <property name="password" value="" />-->
<!--    </bean>-->




<!--    jdbc template -->
<!--    <bean class="org.springframework.jdbc.core.JdbcTemplate" name="jdbcTemplate" p:dataSource-ref="datasource">-->
<!--        <property name="dataSource">-->
<!--            <ref bean="datasource"/>-->
<!--        </property>-->
<!--    </bean>-->




    <!--    set StudentDaoImpl jdbcTemplate object-->
<!--    <bean class="learnspring.springJDBC.dao.StudentDaoImpl" name="StudentDaoImpl" />-->

</beans>